<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>heeheehoho</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>heeheehoho</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>네발 친구의 사진을 촬영하기 위해 카메라 접근이 필요해요.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>네발 친구의 사진을 선택하기 위해 사진 보관함 접근이 필요해요.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>산책 거리를 재고 지금 지역의 날씨를 보여주기 위해 위치 정보가 필요해요.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>화면이 꺼져 있어도 산책 거리를 이어서 재기 위해 위치 정보가 필요해요.</string>
	<key>NSMotionUsageDescription</key>
	<string>산책 중 걸음 수를 세기 위해 동작 및 피트니스 정보가 필요해요.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<!-- 표준 HTTPS만 사용하므로 수출용 암호화 규정 대상이 아니다.
	     false로 두면 TestFlight 업로드마다 뜨는 수출 규정 질문을 건너뛴다. -->
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
